/* #region Global styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  /* letter-spacing: */
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* #endregion Global styles */

/* #region Header */

/* #region Logo */
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 3%;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.nav-logo span {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
}

/* .nav-list {} */

/* #endregion Logo */

/* #region Contacts */
.contacts:hover,
.contacts:focus {
  color: #404bbf
}
/* #endregion Contacts */

/* #endregion Header */

/* #region Main */

/* #region Hero */

.hero {
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
}

.hero-button {
  font-weight: 500;
  /* letter-spacing: */
  cursor: pointer;
}

/* #endregion Hero */

/* #region Benefits List */

.benefits-list-title {
  visibility: hidden;
}

.benefits-list-item {
}

.benefits-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.benefits-desc {
  color: #434455;
  letter-spacing: 0.02em;
}

/* #endregion Benefits List */

/* #region Team List */

.team {
  background-color: #f4f4fd;
}

.team-list-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
}

.team-list {
}

.team-list-item {
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-desc {
  letter-spacing: 0.02em;
}

/* #endregion Team List */

/* #region Portfolio List */

.portfolio-list-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.portfolio-desc {
  letter-spacing: 0.02em;
}

/* #endregion Portfolio List */

/* #endregion Main */

/* #region Footer */
.footer {
  background-color: #2e2f42;
}

.footer-desc {
  color: #f4f4f4;
}
/* #endregion Footer */
